<!doctype html>
<html>
  <head>
    <title>Adb Auto</title>
    <style>
      html,
      body {
        margin: 0;
        padding: 0;
        height: 100%;
      }
      img.fullscreen {
        width: auto;
        height: 100vh;
        object-fit: contain;
        display: block;
      }
    </style>
    <script>
      function updateImage() {
        fetch("{{get_current_screen_api_path}}")
          .then((response) => response.json())
          .then((data) => {
            const img = document.getElementById("dynamic-image");
            img.src = data.image_data;
          })
          .catch((err) => console.error("Error loading image:", err));
      }

      window.onload = function () {
        updateImage();
        setInterval(updateImage, {{reload_interval}} * 1000); // 1 s
      };
    </script>
  </head>
  <body>
    <div>
      <img
        id="dynamic-image"
        src="{{ image_data }}"
        class="fullscreen"
        alt="Base64 Flask Image"
        width="900"
      />
    <div>
  </body>
</html>
